* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
}
.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.header__title {
  font-family: Georgia;
  margin-top: 40px;
}
.contacts {
  display: flex;
  justify-content: center;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 75px;
}
.contacts__title {
  font-family: Georgia;
  margin-bottom: 30px;
}
.contacts__items {
  list-style-type: none;
  font-family: Arial;
}
.contact {
  margin-bottom: 5px;
}
.contacts__img {
  display: flex;
  margin-left: 75px;
  border: solid black 1px;
}
.other {
  display: flex;
}
.other__info {
  display: flex;
  flex-direction: column;
}
.info__title {
  text-align: center;
  margin-top: 30px;
  font-family: Georgia;
}
.info__text {
  font-family: Arial;
  max-width: 700px;
  margin-top: 20px;
}
.skills {
  margin-top: 30px;
}
.skills__list {
  margin-left: 20px;
  margin-top: 5px;
}
.english {
  margin-top: 20px;
}
.english__text {
  margin-top: 5px;
}
.link {
  color: #585757;
  text-decoration: none;
}
.link:hover {
  color: black;
  border-bottom: 1px solid black;
}
.footer {
  display: flex;
}
.footer__content {
  display: flex;
  margin-top: 40px;
}
.footer__logo {
  display: flex;
  width: 50%;
  height: 50%;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
